:root {
    --primary-color-darker: #323232;
    --primary-color-lighter: #ffffff;
    --accent-color: rgb(14, 131, 29);
    --primary-text-color: black;
    --secondary-text-color: white;
    --action-color: #bfbfc2;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color-lighter);
    font-family: 'Roboto', sans-serif;
} 

body input:focus {
    outline: none;
}
 
.page-nav {
 
}
 
.page-nav .page-nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    margin: 0;
    box-shadow: 0 3px 7px #858585;
}

.page-nav .page-nav-container .page-nav-upper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
    background-color: var(--primary-color-darker);
}

.page-nav .page-nav-container .page-nav-upper .page-logo {
    padding-left: 80px;
    justify-self: start;
}

.page-nav .page-nav-container .page-nav-upper .search-bar {
    display: flex;
    justify-self: center;
    position: relative;
    left: calc(50% - 282px);
    top: 50px;
    z-index: 10;
}

.page-nav .page-nav-container .page-nav-upper .search-bar .search-bar-input {
    width: calc(300px - 18px);
    height: 29px;
    border-radius: 15px;
    border: none;
    background-color: var(--primary-color-lighter);
    padding-left: 18px;
}

.page-nav .page-nav-container .page-nav-upper .search-bar .search-icon {
    position: relative;
    right: 36px;
    top: 5px;
}

.page-nav .page-nav-container .page-nav-upper .nav-space-second {  
    min-width: 70px;
    flex-shrink: 1;
}

.page-nav .page-nav-container .page-nav-upper .nav-upper-space {
    width: 1250px;
    max-width: calc(65%);
}

.page-nav .page-nav-container .page-nav-upper .right-icons {
    width: fit-content;
}

.page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-right: 80px;
}

.page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements li {
    margin: 0 14px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements .shopping-cart {
    height: 58px;
    display: flex;
    align-items: center;
}

.page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements .shopping-cart-dropdown {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 58px;
    right: 55px;
    width: 400px;
    background-color: var(--primary-color-lighter);
    transition: visibility 0s, opacity 0.5s;
    height: auto;
    color: var(--primary-text-color);
    box-shadow: 0 5px 5px #999999;
    z-index: 99;
}

.page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements .shopping-cart:hover .shopping-cart-dropdown, .page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements .shopping-cart-dropdown:hover {
    display: flex;
    transition: 0.1s;
} 

.page-nav .page-nav-container .page-nav-lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color-lighter);
    width: 100%;
    height: 42px;
    position: fixed;
    top: 58px;
}

.page-nav .page-nav-container .page-nav-lower .tabs {
    display: none;
}

.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile {
    display: flex;
}

.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-left: 80px;
    position: fixed;
    top: 100px;
    background-color: var(--primary-color-lighter);
}

.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements li {
    display: flex;
    text-align: center;
    padding: 0 20px;
    width: 80px;
    height: 42px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements li:hover a{
    color: var(--accent-color);
    transition: 0.2s;
}

.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements .shop-nav .dropdown-arrow {
    height: 0;
    width: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--primary-text-color);
    position: relative;
    left: 5px;
  }
  
.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements  .shop-nav:hover .dropdown-arrow {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--accent-color);
    border-top: 7px solid transparent;
    bottom: 4%;
}
.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements .shop-nav .shop-dropdown {
    position: fixed;
    display: none;
    justify-content: flex-start;
    align-items: center;
    top: 100px;
    left: 80px;
    width: 300px;  
    background-color: var(--primary-color-lighter);
    transition: display 0.5s;
    height: auto;
    color: black;
    box-shadow: 0 5px 5px var(--shadow-color);
}
.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements .shop-nav .shop-dropdown ul{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%; 
}
.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements .shop-nav .shop-dropdown li{
    padding: 10px;
    display: inline-flex;
    align-items: center; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: fit-content; 
}
.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements .shop-nav:hover .shop-dropdown a {
    color: var(--primary-text-color);
}
.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements .shop-nav .shop-dropdown li:hover a { 
    color:var(--accent-color);
    transition: 0.1s;
}
.page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements .shop-nav:hover .shop-dropdown, .page-nav .page-nav-container .page-nav-lower .tabs.open.mobile .tabs-elements .shop-nav .shop-dropdown:hover {
    display: flex;
    transition: 0.1s;
} 

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 25px;
    min-width: 35px;
    height: fit-content;
    top: 3px;
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile:hover {
    cursor: pointer;
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile span { 
    height: 5px;
    width: 17.5px;
    background-color: var(--primary-color-darker);
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile span:nth-child(even) {
    position: relative;
    left: 50%;
    top: -5px;
    border-radius: 0 15px 15px 0;
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile span:nth-child(odd) {
    position: relative;
    left: 0;
    border-radius: 15px 0 0 15px;
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile.open span:nth-child(1),.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile.open span:nth-child(6) {
  transform: rotate(45deg);
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile.open span:nth-child(2),.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile.open span:nth-child(5) {
  transform: rotate(-45deg);
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile.open span:nth-child(1) {
  top: 4px;
  left: 3px;
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile.open span:nth-child(2) {
  left: calc(50% - 4px);
  top: -1px;
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile.open span:nth-child(5) {
  top: -4.5px;
  left: 2px;
}

.page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: -9px;
}

.page-nav .page-nav-container .page-nav-lower .nav-lower-space {
    width: 1240px;
    max-width: calc(65%);
}

.page-nav .page-nav-container .page-nav-lower .settings .settings-elements {
    display: flex;
    flex-direction: row;
    list-style: none; 
    margin: 0px 80px 0px 0px;
}

.page-nav .page-nav-container .page-nav-lower .settings .settings-elements li {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 42px;
    text-align: center;
    cursor: pointer;
}

.page-nav .page-nav-container .page-nav-lower .settings .settings-elements li .dropdown-arrow span {
    display: inline-block;
    height: 1px;
    width: 6px;
    background-color: var(--accent-color);
    position: relative;

}

.page-nav .page-nav-container .page-nav-lower .settings .settings-elements li .dropdown-arrow span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 5px;
    left: 3px;
}

.page-nav .page-nav-container .page-nav-lower .settings .settings-elements li .dropdown-arrow span:nth-of-type(2) {
    transform: rotate(-45deg);
    left: 7px;
    bottom: 14px;
}

.page-nav .page-nav-container .page-nav-lower .settings .settings-elements .languages .languages-dropdown {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    width: 55px;
    right: 145px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    height: auto;
    color: black;
    box-shadow: 0 5px 5px #999999;
}


.page-nav .page-nav-container .page-nav-lower .settings .settings-elements .languages.open .languages-dropdown {
    visibility: visible;
    opacity: 1;
    transition: 0.1s;
}

.page-nav .page-nav-container .page-nav-lower .settings .settings-elements .languages .languages-dropdown ul {
    padding: 0;
}

.page-nav .page-nav-container .page-nav-lower .settings .settings-elements .currency .currency-dropdown {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    width: 55px;
    right: 85px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    height: auto;
    color: black;
    box-shadow: 0 5px 5px #999999;
}


.page-nav .page-nav-container .page-nav-lower .settings .settings-elements .currency.open  .currency-dropdown{
    visibility: visible;
    opacity: 1;
    transition: 0.1s;
}

.page-nav .page-nav-container .page-nav-lower .settings .settings-elements .currency .currency-dropdown ul {
    padding: 0;
}

.home .home-container {
    height: calc(800px + 59px + 42px);
}

.home .home-container .background-photo {
    position: relative;
    top: 100px;
    background: url(photos/background-photo.jpg) no-repeat;
    background-size: 100% 800px;
    width: 100%;
    height: 800px;
}

.home .home-container .gallery-arrows span {
    display: inline-block;
    height: 3px;
    width: 30px;
    background-color: var(--primary-color-lighter);
    position: relative;
}

.home .home-container .gallery-arrows .arrow-left:hover span, .home .home-container .gallery-arrows .arrow-right:hover span {
    background-color: var(--accent-color);
    transition: 0.2s;
}

.home .home-container .gallery-arrows div {
    display: inline-block;
    width: fit-content;
    position: absolute;
    top: 450px;
    z-index: 10;    
    height: fit-content;
    width: fit-content;
    width: 30px;
    height: 50px;
}

.home .home-container .gallery-arrows .arrow-left {
    left: 5%;
    cursor: pointer;
}

.home .home-container .gallery-arrows .arrow-left .upper {
    transform: rotate(-45deg);
}

.home .home-container .gallery-arrows .arrow-left .lower {
    transform: rotate(45deg);
}

.home .home-container .gallery-arrows .arrow-right {  
    right: 5%; 
    cursor: pointer;
}

.home .home-container .gallery-arrows .arrow-right .upper {
    transform: rotate(45deg);
}

.home .home-container .gallery-arrows .arrow-right .lower {
    transform: rotate(-45deg);
}

.home .home-container .swipe-dots {
    position: absolute;
    top: 830px;
    left: calc(50% - 31px);
}

.home .home-container .swipe-dots .swipe-dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent-color);
    z-index: 10;
    margin: 0px 4px;
    cursor: pointer;
}

.home .home-container .swipe-dots .white-dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color-lighter);
    z-index: 10;
    margin: 0px 4px;
}

.home .home-container .home-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 200px;
    width: 40%;
    padding-left: 15%;
}

.home .home-container .home-content .home-header {
    font-size: 68px;
}

.home .home-container .home-content .home-text {
    font-size: 20px;
}

.home .home-container .home-content .button-shop-now {
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 20px;
    border: none;
    background-color: var(--accent-color);
}

.qualities .qualities-container {
    margin: 80px 0;
}

.qualities .qualities-container .qualities-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.qualities .qualities-container .qualities-elements li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 15px;
}

.qualities .qualities-container .qualities-elements .qualities-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border-radius: 50%;
    height: 85px;
    width: 85px;
}

.qualities .qualities-container .qualities-elements .qualities-header {
    margin: 0;
}




.footer-container {
    display: flex;
    flex-direction: row;
    background-color: #323232;
    color: white;
    flex-wrap: wrap;
}

.footer-container ul {
    list-style: none;
}

.footer-container a {
    color: white;
    text-decoration: none;
}


.footer-container .hyperlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    flex-wrap: wrap;
}

.footer-container .hyperlinks h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--accent-color);
}

.footer-container .hyperlinks ul {
    font-size: 15px;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 0px;
    width: 250px;
}

.footer-container .hyperlinks li {
    padding: 2px 0px;
}

.footer-container .hyperlinks li:hover a {
    color: var(--accent-color);
    transition: 0.2s;
}

.footer-container .hyperlinks div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0px 60px;
}

.footer-container .hyperlinks .informations {
    margin-left: 80px;
}

.footer-container .newsletter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-container .newsletter .newsletter-text {
    padding: 0 20px;
    width: 250px;
    margin-top: 15px;
    font-size: 15px;
}

.footer-container .newsletter .newsletter-text .newsletter-header {
    font-size: 20px;
    color: var(--accent-color);
}

.footer-container .newsletter .newsletter-input {
    display: flex;
    padding-left: 50px;
}

.footer-container .newsletter .newsletter-input .email-input {
    width: calc(220px - 18px);
    height: 33px;
    border-radius: 15px;
    border: none;
    background-color: #999999;
    padding-left: 18px;
}

.footer-container .newsletter .newsletter-input .subscribe-button {
    position: relative;
    right: 40px;
    padding: 8px 30px;
    border-radius: 15px;
    border: none;
}

@media screen and (min-width: 800px) {
    .page-nav .page-nav-container {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        margin: 0;
        box-shadow: 0 3px 7px #858585;
    }
    
    .page-nav .page-nav-container .page-nav-upper {
        display: flex;
        align-items: center;
        width: 100%;
        height: 58px;
        background-color: var(--primary-color-darker);
    }
    
    .page-nav .page-nav-container .page-nav-upper .page-logo {
        padding-left: 80px;
        justify-self: start;
    }
    
    .page-nav .page-nav-container .page-nav-upper .search-bar {
        left: calc(50% - 282px);
        top: 0px;
    }
    
    .page-nav .page-nav-container .page-nav-upper .search-bar .search-bar-input {
        width: calc(300px - 18px);
        height: 29px;
        border-radius: 15px;
        border: none;
        background-color: var(--primary-color-lighter);
        padding-left: 18px;
    }
    
    .page-nav .page-nav-container .page-nav-upper .search-bar .search-icon {
        position: relative;
        right: 36px;
        top: 5px;
    }
    
    .page-nav .page-nav-container .page-nav-upper .nav-space-second {  
        min-width: 70px;
        flex-shrink: 1;
    }
    
    .page-nav .page-nav-container .page-nav-upper .nav-upper-space {
        width: 1250px;
        max-width: calc(65%);
    }
    
    .page-nav .page-nav-container .page-nav-upper .right-icons {
        width: fit-content;
    }
    
    .page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        padding: 0;
        margin-right: 80px;
    }
    
    .page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements li {
        margin: 0 14px;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements .shopping-cart {
        height: 58px;
        display: flex;
        align-items: center;
    }
    
    .page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements .shopping-cart-dropdown {
        position: fixed;
        display: none;
        justify-content: center;
        align-items: center;
        top: 58px;
        right: 55px;
        width: 400px;
        background-color: var(--primary-color-lighter);
        transition: visibility 0s, opacity 0.5s;
        height: auto;
        color: var(--primary-text-color);
        box-shadow: 0 5px 5px #999999;
        z-index: 99;
    }
    
    .page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements .shopping-cart:hover .shopping-cart-dropdown, .page-nav .page-nav-container .page-nav-upper .right-icons .right-icons-elements .shopping-cart-dropdown:hover {
        display: flex;
        transition: 0.1s;
    } 
    
    .page-nav .page-nav-container .page-nav-lower {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--primary-color-lighter);
        width: 100%;
        height: 42px;
        position: fixed;
        top: 58px;
    }

    .page-nav .page-nav-container .page-nav-lower .hamburger-icon-mobile{
        display: none;
    }

    .page-nav .page-nav-container .page-nav-lower .tabs {
        display: flex;
    }
    
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding-left: 80px;
    }
    
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements li {
        display: flex;
        text-align: center;
        padding: 0 20px;
        width: 80px;
        height: 42px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
    
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements a {
        text-decoration: none;
        color: var(--primary-text-color);
    }
    
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements li:hover a{
        color: var(--accent-color);
        transition: 0.2s;
    }
    
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements .shop-nav .dropdown-arrow {
        height: 0;
        width: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid var(--primary-text-color);
        position: relative;
        left: 5px;
      }
      
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements  .shop-nav:hover .dropdown-arrow {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid var(--accent-color);
        border-top: 7px solid transparent;
        bottom: 4%;
    }
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements .shop-nav .shop-dropdown {
        position: fixed;
        display: none;
        justify-content: flex-start;
        align-items: center;
        top: 100px;
        left: 80px;
        width: 300px;  
        background-color: var(--primary-color-lighter);
        transition: display 0.5s;
        height: auto;
        color: black;
        box-shadow: 0 5px 5px var(--shadow-color);
    }
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements .shop-nav .shop-dropdown ul{
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
        text-align: center;
        width: 100%; 
    }
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements .shop-nav .shop-dropdown li{
        padding: 10px;
        display: inline-flex;
        align-items: center; 
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: fit-content; 
    }
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements .shop-nav:hover .shop-dropdown a {
        color: var(--primary-text-color);
    }
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements .shop-nav .shop-dropdown li:hover a { 
        color:var(--accent-color);
        transition: 0.1s;
    }
    .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements .shop-nav:hover .shop-dropdown, .page-nav .page-nav-container .page-nav-lower .tabs .tabs-elements .shop-nav .shop-dropdown:hover {
        display: flex;
        transition: 0.1s;
    } 
    
    .page-nav .page-nav-container .page-nav-lower .nav-lower-space {
        width: 1240px;
        max-width: calc(65%);
    }
    
    .page-nav .page-nav-container .page-nav-lower .settings .settings-elements {
        display: flex;
        flex-direction: row;
        list-style: none; 
        margin: 0px 80px 0px 0px;
    }
    
    .page-nav .page-nav-container .page-nav-lower .settings .settings-elements li {
        display: flex;
        align-items: center;
        padding: 0 15px;
        height: 42px;
        text-align: center;
        cursor: pointer;
    }
    
    .page-nav .page-nav-container .page-nav-lower .settings .settings-elements li .dropdown-arrow span {
        display: inline-block;
        height: 1px;
        width: 6px;
        background-color: var(--accent-color);
        position: relative;
    
    }
    
    .page-nav .page-nav-container .page-nav-lower .settings .settings-elements li .dropdown-arrow span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 5px;
        left: 3px;
    }
    
    .page-nav .page-nav-container .page-nav-lower .settings .settings-elements li .dropdown-arrow span:nth-of-type(2) {
        transform: rotate(-45deg);
        left: 7px;
        bottom: 14px;
    }
    
    .page-nav .page-nav-container .page-nav-lower .settings .settings-elements .languages .languages-dropdown {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100px;
        width: 55px;
        right: 145px;
        background-color: white;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
        height: auto;
        color: black;
        box-shadow: 0 5px 5px #999999;
    }
    
    
    .page-nav .page-nav-container .page-nav-lower .settings .settings-elements .languages.open .languages-dropdown {
        visibility: visible;
        opacity: 1;
        transition: 0.1s;
    }
    
    .page-nav .page-nav-container .page-nav-lower .settings .settings-elements .languages .languages-dropdown ul {
        padding: 0;
    }
    
    .page-nav .page-nav-container .page-nav-lower .settings .settings-elements .currency .currency-dropdown {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100px;
        width: 55px;
        right: 85px;
        background-color: white;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
        height: auto;
        color: black;
        box-shadow: 0 5px 5px #999999;
    }
    
    
    .page-nav .page-nav-container .page-nav-lower .settings .settings-elements .currency.open  .currency-dropdown{
        visibility: visible;
        opacity: 1;
        transition: 0.1s;
    }
    
    .page-nav .page-nav-container .page-nav-lower .settings .settings-elements .currency .currency-dropdown ul {
        padding: 0;
    }
}

@media screen and (max-width: 1520px) and (min-width: 974px) {

    .categories .categories-container .categories-elements .categories-element {
        margin: 30px 7%;   
    }

    .categories .categories-container .categories-elements .categories-element:nth-of-type(even) {
        margin-right: 12%;
    }

    .categories .categories-container .categories-elements .categories-element:nth-of-type(odd) {
        margin-left: 12%;
    }


}