:root {
  --primary-color-darker: #323232;
  --primary-color-lighter: #ffffff;
  --accent-color: rgb(14, 131, 29);
  --primary-text-color: black;
  --secondary-text-color: white;
  --action-color: #bfbfc2;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: var(--primary-color-lighter);
  font-family: 'Roboto', sans-serif;
}

body input:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

