.footer-container {
    display: flex;
    flex-direction: row;
    background-color: #323232;
    color: white;
    flex-wrap: wrap;
}

.footer-container ul {
    list-style: none;
}

.footer-container a {
    color: white;
    text-decoration: none;
}


.footer-container .hyperlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    flex-wrap: wrap;
}

.footer-container .hyperlinks h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--accent-color);
}

.footer-container .hyperlinks ul {
    font-size: 15px;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 0px;
    width: 250px;
}

.footer-container .hyperlinks li {
    padding: 2px 0px;
}

.footer-container .hyperlinks li:hover a {
    color: var(--accent-color);
    transition: 0.2s;
}

.footer-container .hyperlinks div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0px 60px;
}

.footer-container .hyperlinks .informations {
    margin-left: 80px;
}

.footer-container .newsletter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-container .newsletter .newsletter-text {
    padding: 0 20px;
    width: 250px;
    margin-top: 15px;
    font-size: 15px;
}

.footer-container .newsletter .newsletter-text .newsletter-header {
    font-size: 20px;
    color: var(--accent-color);
}

.footer-container .newsletter .newsletter-input {
    display: flex;
    padding-left: 50px;
}

.footer-container .newsletter .newsletter-input .email-input {
    width: calc(220px - 18px);
    height: 33px;
    border-radius: 15px;
    border: none;
    background-color: #999999;
    padding-left: 18px;
}

.footer-container .newsletter .newsletter-input .subscribe-button {
    position: relative;
    right: 40px;
    padding: 8px 30px;
    border-radius: 15px;
    border: none;
}