.home .home-container {
    height: calc(800px + 59px + 42px);
}

.home .home-container .background-photo {
    position: relative;
    background: url(../../../photos/background-photo.jpg) no-repeat;
    background-size: 100% 800px;
    width: 100%;
    height: 800px;
}

.home .home-container .gallery-arrows span {
    display: inline-block;
    height: 3px;
    width: 30px;
    background-color: var(--primary-color-lighter);
    position: relative;
}

.home .home-container .gallery-arrows .arrow-left:hover span, .home .home-container .gallery-arrows .arrow-right:hover span {
    background-color: var(--accent-color);
    transition: 0.2s;
}

.home .home-container .gallery-arrows div {
    display: inline-block;
    width: fit-content;
    position: absolute;
    top: 450px;
    z-index: 10;    
    height: fit-content;
    width: fit-content;
    width: 30px;
    height: 50px;
}

.home .home-container .gallery-arrows .arrow-left {
    left: 5%;
    cursor: pointer;
}

.home .home-container .gallery-arrows .arrow-left .upper {
    transform: rotate(-45deg);
}

.home .home-container .gallery-arrows .arrow-left .lower {
    transform: rotate(45deg);
}

.home .home-container .gallery-arrows .arrow-right {  
    right: 5%; 
    cursor: pointer;
}

.home .home-container .gallery-arrows .arrow-right .upper {
    transform: rotate(45deg);
}

.home .home-container .gallery-arrows .arrow-right .lower {
    transform: rotate(-45deg);
}

.home .home-container .swipe-dots {
    position: absolute;
    top: 830px;
    left: calc(50% - 31px);
}

.home .home-container .swipe-dots .swipe-dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent-color);
    z-index: 10;
    margin: 0px 4px;
    cursor: pointer;
}

.home .home-container .swipe-dots .white-dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color-lighter);
    z-index: 10;
    margin: 0px 4px;
}

.home .home-container .home-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 200px;
    width: 40%;
    padding-left: 15%;
}

.home .home-container .home-content .home-header {
    font-size: 68px;
}

.home .home-container .home-content .home-text {
    font-size: 20px;
}

.home .home-container .home-content .button-shop-now {
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 20px;
    border: none;
    background-color: var(--accent-color);
}
